In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('MA.csv')
df = df.dropna()
df.head()

   Month  Y_true
0      1  265.22
1      2  146.64
2      3  182.50
3      4  118.54
4      5  180.04

In [2]:
df.tail()

    Month  Y_true
34     35  581.17
35     36  647.82
36     37  650.81
37     38  677.54
38     39  666.56

In [3]:
alpha = 0.04
beta = 1.00
gamma = 0.27
s = 4
df['Level'] = 0.00
df['Level'][s-1] = np.mean([df['Y_true'][0:s]])
df['Level'][s-1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

178.225

In [4]:
df['Trend'] = 0.00

df['Seasonality'] = 0.00
for i in range(0,s):
    df['Seasonality'][i] = df['Y_true'][i] / df['Level'][s-1]  
    
df.head(7)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Month  Y_true    Level  Trend  Seasonality
0      1  265.22    0.000    0.0     1.488119
1      2  146.64    0.000    0.0     0.822780
2      3  182.50    0.000    0.0     1.023987
3      4  118.54  178.225    0.0     0.665114
4      5  180.04    0.000    0.0     0.000000
5      6  167.45    0.000    0.0     0.000000
6      7  231.75    0.000    0.0     0.000000

In [5]:
for i in range(s,len(df.Y_true)):
    df['Level'][i] = alpha * ( df['Y_true'][i] / df['Seasonality'][i-s] ) + (1-alpha) * ( df['Level'][i-1] + df['Trend'][i-1] )
    
    df['Trend'][i] = beta * ( df['Level'][i] - df['Level'][i-1] ) + (1-beta) * ( df['Trend'][i-1] )
    
    df['Seasonality'][i] = gamma * ( df['Y_true'][i] / df['Level'][i] ) + (1-gamma) * df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Month  Y_true       Level     Trend  Seasonality
0      1  265.22    0.000000  0.000000     1.488119
1      2  146.64    0.000000  0.000000     0.822780
2      3  182.50    0.000000  0.000000     1.023987
3      4  118.54  178.225000  0.000000     0.665114
4      5  180.04  175.935398 -2.289602     1.362626
5      6  167.45  174.840656 -1.094742     0.859216
6      7  231.75  175.848931  1.008275     1.103341
7      8  223.71  183.236845  7.387914     0.815171

In [6]:
df['Y_pred'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Y_pred'][i] =  ( df['Level'][i-1] + df['Trend'][i-1] ) * df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level     Trend  Seasonality      Y_pred
0      1  265.22    0.000000  0.000000     1.488119    0.000000
1      2  146.64    0.000000  0.000000     0.822780    0.000000
2      3  182.50    0.000000  0.000000     1.023987    0.000000
3      4  118.54  178.225000  0.000000     0.665114    0.000000
4      5  180.04  175.935398 -2.289602     1.362626  265.220000
5      6  167.45  174.840656 -1.094742     0.859216  142.872322
6      7  231.75  175.848931  1.008275     1.103341  177.913476
7      8  223.71  183.236845  7.387914     0.815171  117.630261

In [7]:
df.tail(8)

    Month  Y_true       Level      Trend  Seasonality      Y_pred
31     32  407.33  457.435630  18.759457     1.009887  485.281141
32     33  681.92  483.187631  25.752001     1.145711  498.805871
33     34  475.78  506.102861  22.915229     1.046753  552.812920
34     35  581.17  529.365015  23.262154     1.085452  571.795551
35     36  647.82  556.181198  26.816183     1.051704  558.090829
36     37  650.81  582.399088  26.217890     1.138085  667.946796
37     38  677.54  610.163412  27.764324     1.063944  637.071627
38     39  666.56  636.974032  26.810619     1.074921  692.440024

In [8]:
df['Absolute Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Absolute Error'][i] = abs( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739

In [9]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024

In [10]:
df['Squared Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Squared Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000,7255.632400
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678,604.062266
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524,2898.371265
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739,11252.911107

In [11]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141,6076.380394
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129,33530.784161
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920,5934.070807
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449,87.880296
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171,8051.324149
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796,293.669764
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373,1637.689234
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024,669.775663

In [12]:
df['Precent Error1'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error1'][i] = abs ((  df['Y_true'][i] - df['Y_pred'][i] ) / df['Y_true'][i])

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000,7255.632400,0.473117
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678,604.062266,0.146776
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524,2898.371265,0.232304
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739,11252.911107,0.474184

In [13]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141,6076.380394,0.191371
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129,33530.784161,0.268527
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920,5934.070807,0.161909
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449,87.880296,0.016130
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171,8051.324149,0.138509
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796,293.669764,0.026331
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373,1637.689234,0.059728
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024,669.775663,0.038826

In [14]:
df['Precent Error2'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error2'][i] = ( (  df['Y_pred'][i] - df['Y_true'][i] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000,7255.632400,0.473117,0.516351
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678,604.062266,0.146776,0.018636
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524,2898.371265,0.232304,0.103367
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739,11252.911107,0.474184,0.209520

In [15]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141,6076.380394,0.191371,0.018329
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129,33530.784161,0.268527,0.202093
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920,5934.070807,0.161909,0.012761
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449,87.880296,0.016130,0.000388
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171,8051.324149,0.138509,0.023838
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796,293.669764,0.026331,0.000700
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373,1637.689234,0.059728,0.003867
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024,669.775663,0.038826,0.001459

In [16]:
df['Precent Error3'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error3'][i] = ( (  df['Y_true'][i] - df['Y_true'][i-1] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678,604.062266,0.146776,0.018636,0.004890
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524,2898.371265,0.232304,0.103367,0.147452
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739,11252.911107,0.474184,0.209520,0.001204

In [17]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141,6076.380394,0.191371,0.018329,0.085584
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129,33530.784161,0.268527,0.202093,0.454440
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920,5934.070807,0.161909,0.012761,0.091381
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449,87.880296,0.016130,0.000388,0.049067
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171,8051.324149,0.138509,0.023838,0.013152
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796,293.669764,0.026331,0.000700,0.000021
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373,1637.689234,0.059728,0.003867,0.001687
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024,669.775663,0.038826,0.001459,0.000263

In [18]:
df['Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678,604.062266,0.146776,0.018636,0.004890,-24.577678
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524,2898.371265,0.232304,0.103367,0.147452,-53.836524
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739,11252.911107,0.474184,0.209520,0.001204,-106.079739

In [19]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141,6076.380394,0.191371,0.018329,0.085584,77.951141
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129,33530.784161,0.268527,0.202093,0.454440,-183.114129
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920,5934.070807,0.161909,0.012761,0.091381,77.032920
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449,87.880296,0.016130,0.000388,0.049067,-9.374449
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171,8051.324149,0.138509,0.023838,0.013152,-89.729171
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796,293.669764,0.026331,0.000700,0.000021,17.136796
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373,1637.689234,0.059728,0.003867,0.001687,-40.468373
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024,669.775663,0.038826,0.001459,0.000263,25.880024

In [20]:
df['Squared Error Diff'] = 0.00

for i in range(s+1,len(df.Y_true)):
    df['Squared Error Diff'][i] = ( df['Error'][i] - df['Error'][i-1] )**2

df.head(9)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
0,1,265.22,0.000000,0.000000,1.488119,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,0.822780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,1.023987,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,0.665114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,175.935398,-2.289602,1.362626,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000,0.000000
5,6,167.45,174.840656,-1.094742,0.859216,142.872322,24.577678,604.062266,0.146776,0.018636,0.004890,-24.577678,12046.747927
6,7,231.75,175.848931,1.008275,1.103341,177.913476,53.836524,2898.371265,0.232304,0.103367,0.147452,-53.836524,856.080029
7,8,223.71,183.236845,7.387914,0.815171,117.630261,106.079739,11252.911107,0.474184,0.209520,0.001204,-106.079739,2729.353603
8,9,192.98,188.664714,5.427868,1.270893,259.750250,66.770250,4458.266279,0.345996,0.089083,0.018869,66.770250,29877.118812

In [21]:
df.tail(9)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
30,31,575.77,438.676173,21.717596,1.080862,430.762017,145.007983,21027.315127,0.251851,0.109922,0.100132,-145.007983,27946.509967
31,32,407.33,457.435630,18.759457,1.009887,485.281141,77.951141,6076.380394,0.191371,0.018329,0.085584,77.951141,49710.770995
32,33,681.92,483.187631,25.752001,1.145711,498.805871,183.114129,33530.784161,0.268527,0.202093,0.454440,-183.114129,68155.075124
33,34,475.78,506.102861,22.915229,1.046753,552.812920,77.032920,5934.070807,0.161909,0.012761,0.091381,77.032920,67676.487136
34,35,581.17,529.365015,23.262154,1.085452,571.795551,9.374449,87.880296,0.016130,0.000388,0.049067,-9.374449,7466.233483
35,36,647.82,556.181198,26.816183,1.051704,558.090829,89.729171,8051.324149,0.138509,0.023838,0.013152,-89.729171,6456.881350
36,37,650.81,582.399088,26.217890,1.138085,667.946796,17.136796,293.669764,0.026331,0.000700,0.000021,17.136796,11420.334845
37,38,677.54,610.163412,27.764324,1.063944,637.071627,40.468373,1637.689234,0.059728,0.003867,0.001687,-40.468373,3318.355481
38,39,666.56,636.974032,26.810619,1.074921,692.440024,25.880024,669.775663,0.038826,0.001459,0.000263,25.880024,4402.109873

In [22]:
MSE = np.mean(df['Squared Error'][s:])
MSE

6273.139639093976

In [23]:
RMSE = np.sqrt(np.mean(df['Squared Error'][s:]))
RMSE

79.20315422439927

In [24]:
MAE = np.mean(df['Absolute Error'][s:])
MAE

66.10857182591297

In [25]:
MAPE = np.mean(df['Precent Error1'][s:])
MAPE

0.21910643030321286

In [26]:
ThielsU = np.sqrt( np.sum( df['Precent Error2'][s:-1] ) / np.sum( df['Precent Error3'][s:] ) )
ThielsU

0.8037774364171735